export("CreateGeo4SS")
export("satscanMapper")
export("satscanMapper.Version")
import("graphics")
import("grDevices")
import("utils")
import("sp")
importFrom("SeerMapper","SeerMapper","SM_GlobInit","SM_Build","SM_Mapper")
importFrom("methods","slot","is")
importFrom("stats","quantile","aggregate")
importFrom("RColorBrewer","brewer.pal","brewer.pal.info")
importFrom("stringr","str_trim","str_sub","str_pad","str_replace","str_replace_all","str_split")
importFrom("foreign","read.dbf")
